<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/base.css">
</head>

<body>
    <header><h2>Best Books!</h2>
        
        <ul>
            <li> <a href="/">Home</a> </li>
            <li><a href="/searches">Search by google API</a></li>
        </ul>
    </header>
    <main><div>
        <img src="<%= bookDetails.image %> " alt="">
        <h3><%= bookDetails.title %> </h3>
        <h4><%= bookDetails.author %> </h4>
        <h5><%= bookDetails.isbn %> </h5>
        <p><%= bookDetails.description  %>  </p>
    </div>
    <form action="/deletebook/<%= bookDetails.id %>?_method=delete" method="POST">
    <button>Delete Book</button>
    </form>
    <button id="updateBtn">Update The book</button>
    <section id="updateBook">
    <form  action="/updatebook/<%= bookDetails.id %>?_method=put"   method="POST">
        <input type="text" name="title" value="<%= bookDetails.title %>">
        <input type="text" name="author" value="<%= bookDetails.author %>">
        <input type="text" name="isbn" value="<%= bookDetails.isbn %>">
        <input type="text" name="description" value="<%= bookDetails.description  %>">
        <button>Update</button>
    </form>
    </section>

</main>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/app.js"></script>
</body>
</html>