<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/base.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h2>Best Books!</h2>
        <ul>
            <li> <a href="/">Home</a> </li>
            <li><a href="/searches">Search by google API</a></li>
        </ul>
       
    </header>
    <main>
        <h3 id="showName">Search Results</h3>
        <% bookDetails.forEach(element =>{%> 
        <div>
            <form action="/books" method="POST">
        <img src="<%= element.image %> " alt="">
        <input type="hidden" name="image" value="<%= element.image %>">
        <h3><%= element.title %> </h3>
        <input type="hidden" name="title" value="<%= element.title %>">
        <h4><%= element.author %> </h4>
        <input type="hidden" name="author" value="<%= element.author %>">
        <input type="hidden" name="isbn" value="<%= element.isbn %>">
        <input type="hidden" name="description" value="<%= element.description  %>">
        <!-- <h5><%= element.isbn %> </h5> -->
        <!-- <p><%= element.description  %>  </p> -->
        <button>select this book</button>
        </form>
         </div>
        <% }) %> 
    </main>
    <script>
         function myFunction() {
    let x = document.getElementById("myLinks");
        if (x.style.display === "block") {
      x.style.display = "none";
         } else {
      x.style.display = "block";
      }
        }

    </script>
</body>
</html>